<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
</head>
<body>
  <h1><%= timezone %></h1>
  <p>날씨 : <%= main %></p>
  <p>기온 : <%= temp %></p>
  <p>기압 : <%= pressure %></p>
  <p>습도 : <%= humidity %></p>
</body>
</html>